/* berna section start */

:root {
  --white: #fff;
  --lightGray: #f4f7fd;
  --medGray: #828fa3;
  --mainPurple: #635fc7;
}

.board-columns-cont {
  background-color: var(--lightGray);
  display: flex;
  gap: 30px;
  padding: 30px 25px 40px 25px;
  overflow-x: scroll;
}

.single-column {
  width: 280px;
  flex-shrink: 0;

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 80vh;
    border-radius: 8px;
  }
}

.single-task-item {
  background-color: var(--white);
  min-height: 88px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px #364e7e1a;
  padding-left: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out; /* Geçiş efekti */

  h4 {
    font-size: 15px;
    font-weight: 700;
  }

  p {
    color: var(--medGray);
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
  }
}

.single-task-item:hover {
  h4 {
    color: var(--mainPurple);
  }
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: scale(1.05);
}

.column-header {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-bottom: 30px;

  h3 {
    letter-spacing: 2.4px;
  }
}

.add-column-btn {
  width: 280px;
  height: 80vh;
  margin-top: 57px;
  border: none;
  flex-shrink: 0;
  background-image: linear-gradient(#e9effa, #e9effa80);
  color: var(--medGray);
  font-size: 24px;
  font-weight: 700;
  border-radius: 6px;
}

.add-column-btn:hover {
  color: var(--mainPurple);
}

.empty-single-column {
  outline: 1px dashed rgba(130, 143, 163, 0.4);
  outline-width: 2px;
}

/* berna section end */

.board-columns-cont::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.board-columns-cont::-webkit-scrollbar-thumb {
  background-color: #828fa3;
  border-radius: 10px;
}

.board-columns-cont::-webkit-scrollbar-track {
  background-color: #aaacb1;
  border-radius: 10px;
}

.board-columns-cont::-webkit-scrollbar-thumb:hover {
  background-color: #635fc7;
}
