:root {
  --veryDarkGray: #20212C;
  --darkGray: #2B2C37;
  --mainPurple: #635FC7;
  --medGray: #828FA3;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Plus Jakarta Sans";
  background-color: #f4f7fd;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  height: 10px; /* Scrollbar'ın yüksekliğini (yatayda genişlik) ayarlıyoruz */
  width: 10px;
}

/* Scroll bar'ın "thumb" (kendi kaydırıcı kısmı) kısmı */
body::-webkit-scrollbar-thumb {
  background-color: #828fa3; /* Kaydırıcı kısmı rengi */
  border-radius: 10px; /* Kaydırıcı kısmı yuvarlaklaştırma */
}

/* Scroll bar'ın arka planını (track) özelleştirme */
body::-webkit-scrollbar-track {
  background-color: #aaacb1; /* Arka plan rengini ayarlıyoruz */
  border-radius: 10px;
}

/* Scroll bar'ın üzerine gelindiğinde kaydırıcı rengini değiştir */
body::-webkit-scrollbar-thumb:hover {
  background-color: #635fc7; /* Hover (üzerine gelindiğinde) rengi */
}

/* berna start */

ul.dropdown {
  border-radius: 8px;
}

.dark-theme {
  body, .board-columns-cont {
    background-color: var(--veryDarkGray);
  }

  .column-header {
    color: white;
  }

  .single-task-item, .header, 
  .sidebar, dialog, ul.dropdown {
    background-color: var(--darkGray);
  }

  .single-task-item, h1 {
    color: white;
  }

  .board-add-column-btn {
    background-image: linear-gradient( to bottom right, #2B2C37, rgba(43, 44, 55, 0.82));
  }

  .sidebar {
    border: var(--darkGray);
  }

  .theme {
    background-color: var(--veryDarkGray);
  }

  dialog {
    input, textarea {
      background-color: var(--darkGray);
      color: white;
    }

    input:focus, textarea:focus {
      border: 1px solid var(--mainPurple);
      outline: 1px solid var(--mainPurple);
    }

    input:disabled {
      color: var(--medGray);
    }

    button[type='button'], .cancel-btn {
      background-color: white;
    }

    label, p, legend, h4 {
      color: white;
    }
  }
  


  

}

/* berna end */